body {
  background-color: whitesmoke;
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: black;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 1%;
}
p {
  color: black;
  text-align: center;
}
#pic {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3%;
  padding-top: 3%;
}
#aboutTab {
  border: none;
  outline: none;
  background-color: whitesmoke;
  font-family: 'Raleway' , sans-serif;
  width: 20%;
  position: absolute;
  left: 10%;
  font-size: 100%;
}
#resumeTab {
  border: none;
  outline: none;
  background-color: whitesmoke;
  font-family: 'Raleway' , sans-serif;
  width: 20%;
  position: absolute;
  left: 30%;
  font-size: 100%;
}
#projectsTab {
  border: none;
  outline: none;
  background-color: whitesmoke;
  font-family: 'Raleway' , sans-serif;
  width: 20%;
  position: absolute;
  left: 50%;
  font-size: 100%;
}
#contactTab {
  border: none;
  outline: none;
  background-color: whitesmoke;
  font-family: 'Raleway' , sans-serif;
  width: 20%;
  position: absolute;
  left: 70%;
  font-size: 100%;
}
#aboutTab:hover {
  background-color: white;
}
#resumeTab:hover {
  background-color: white;
}
#projectsTab:hover {
  background-color: white;
}
#contactTab:hover {
  background-color: white;
}
.pagecontent {
  color: black;
  display: none;
  height: 100%;

}
